* {
    margin: 0;
    padding: 0px;
}

body {
    width: 100%;
    margin: 0 auto;
    /* Make sure margins are 0 and centered  */
    font-family: 'Roboto', sans-serif;
}

.info_div:nth-child(even) {
    text-align: end;
  }

.svg_hdr {
    font-size: 32px;
    fill: #ffffff;
}

header {
    width: 100%;
  }

main {
    padding-left: 20%;
    padding-right: 20%;
}

.info_div {
    padding-top: 2%;
    padding-bottom: 1%;
}

p, ul, ol {
    padding-top: 1%;
}

h2 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.ft_div {
    background-color: rgb(0,29,36);
    height: 110px;
    width: 100%;
    text-align: center;
}

.ft_text{
    font-size: 12px;
    color: #FFFFFF;
    position: relative;
   top: 55px;
  }

  @media (max-width: 480px) {
    header {
      background-color: yellow;
    } 
}
  
@media (min-width: 480px) {
    header {
      background-color: brown;
    }
  }
  @media (min-width: 768px) {
    header {
      background-color: green;
    }
  }
  @media (min-width: 1024px) {
    header {
      background-color: blue;
    }
  }
  @media (min-width: 1700px) {
    header {
      background-color: greenyellow;
    }
  }
  
